{% extends "layout.html" %}

{% block title %}
    Categorize
{% endblock %}

{% block main %}
    <h1>Categorize</h1>
    <p>{{ categories }}</p>
    <form action="/categorize" method="post">
        <div class="form-group">
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Item</th>
                            <th>Category</th>
                            <th class='text-right'>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in transactions %}
                            <tr>
                                <td>{{ i["date"] }}</td>
                                <td>{{ i["item"] }}</td>
                                <td>
                                    {% if i['cat_id'] is none %}
                                        <select class="form-control" name="cat_id">
                                            <option disabled selected value>Category</option>
                                            {% for j in categories %}
                                                <option value='{{ j["cat_id"] }}'>{{ j["category"] }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        {% for j in categories %}
                                            {% if j['cat_id'] == i['cat_id'] %}
                                                {{ j['category'] }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td class="text-right">{{ i["amount"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Categorize</button>
    </form>

{% endblock %}