{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <h1>Your Dashboard</h1>

        <h2>Net Worth</h2>
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Account</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Net Worth</th>
                            <th>{{ totals['net_worth'] }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>

        <hr>
        <h2>Accounts</h2>
        <hr>

            <h3>Bank</h3>
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Institution</th>
                                <th>Account</th>
                                <th class='text-right'>Balance</th>
                                <th class='text-right'>Last Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in accounts %}
                                {% if i['acc_group'] == 'BANK' %}
                                <tr>
                                    <td>{{ i["institution"] }}</td>
                                    <td>{{ i["name"] }}</td>
                                    <td class='text-right'>{{ i["balance"] }}</td>
                                    <td class='text-right'>{{ i["updated"] }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td></td>
                                <th class='text-right'>Total</th>
                                <th class='text-right'>{{ totals['bank_total'] }}</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <h3>Investment</h3>
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Institution</th>
                                <th>Account</th>
                                <th class='text-right'>Balance</th>
                                <th class='text-right'>Last Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in accounts %}
                                {% if i['acc_group'] == 'RETIREMENT' or i['acc_group'] == 'INVESTMENT' %}
                                <tr>
                                    <td>{{ i["institution"] }}</td>
                                    <td>{{ i["name"] }}</td>
                                    <td class='text-right'>{{ i["balance"] }}</td>
                                    <td class='text-right'>{{ i["updated"] }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td></td>
                                <th class='text-right'>Total</th>
                                <th class='text-right'>{{ totals['retirement_total'] }}</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            <h3>Credit</h3>
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Institution</th>
                                <th>Account</th>
                                <th class='text-right'>Balance</th>
                                <th class='text-right'>Last Updated</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in accounts %}
                                {% if i['acc_group'] == 'CREDIT_CARD' %}
                                <tr>
                                    <td>{{ i["institution"] }}</td>
                                    <td>{{ i["name"] }}</td>
                                    <td class='text-right'>{{ i["balance"] }}</td>
                                    <td class='text-right'>{{ i["updated"] }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td></td>
                                <th class='text-right'>Total</th>
                                <th class='text-right'>{{ totals['cc_total'] }}</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


        <h2>Recent Transactions</h2>
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Date</th>
                            <th>Item</th>
                            <th>Category</th>
                            <th class='text-right'>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in transactions %}
                            <tr>
                                <td>{{ i["date"] }}</td>
                                <td>{{ i["item"] }}</td>
                                <td>{{ i[""] }}</td>
                                <td class="text-right">{{ i["amount"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


{% endblock %}